@model IEnumerable<Currency>
@{
    ViewData["Title"] = "Валюты";
}

<h1>Валюты</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text">Список валют</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Currency" asp-action="Create" class="btn btn-primary">Create New Currency</a>
        </div>
    </div>
    <br />
    @if(Model.Count() > 0)
    {


<table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr class="text-center">
                    <th>
                        Название валюты
                    </th>
                    <th>
                        Знак валюты
                    </th>
                    <th>
                        Страна
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var currency in Model)
                {
                     <tr>
                        <td width="30%">@currency.CurrencyName</td>
                        <td width="30%">@currency.CurrencySign</td>
                        <td width="30%">@currency.CurrencyCountry</td>
                     </tr>
                }
            </tbody>
        </table>
    }
</div> 
